#title {
 color:rgb(8, 8, 54);
 font-family: "Arial";
 font-size: 50px;
 position: fixed;
  top: 50%;
  left: 50%;
  margin-top:-120px;
 margin-left: -240px;
  box-align: center;

}

form{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
margin-left: -100px; 
   
}

.preview{
    display: inline-block;
    margin-top: -5px;
    margin-left: -10px;
}

.palette {
    float: left;
    display: inline-block
    width: 200px;

}
.palette > div { 
    display: inline-block;
    width: 160px; 
    height: 160px; 
    background-color: var(--color);
    margin: 10px;
    flex-flow: row;

    
    display:block
    font-family: Helvetica;
    margin:50;
    white-space: nowrap;
}