#title {
 color: forestgreen;
 font-family: "Arial";
 font-size: 50px;
 position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -200px;

}

form{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
   
}
i{
   
 
}

.preview{
    display: inline-block;
}

color{
    
}
.palette {
    float: left;
    width: 200px;
}
.palette > div { 
    width: 20px; 
    height: 20px; 
    background-color: var(--color);
    margin: 2px;
    &::after {
        content: attr(color);
        font-family: monospace;
        margin-left: 24px;
        white-space: nowrap;
    }
}